<!DOCTYPE html>
<html>
  <head>
    <title>Mapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%# <link rel="stylesheet" href="custom.css"> %>
    <%= stylesheet_link_tag 'custom.css' %>
    <%= favicon_link_tag 'fav.ico' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
